body {
  background-image: linear-gradient(to bottom, #3f5c8c, white);
}

#app_header {
  background-color: top;
  text-align: left;
  height: 15%;
  width: 15%;
  position: relative;
}

.search1 {
  position: relative;
  text-align: right;
  
}

.tabs {
  background-color: rgb(201, 230, 42);
}

td {
  vertical-align: top;
}
