* {
  margin: 0;
}

body {
  background-color: #0f416c;
}

.header-search {
  text-align: center;
  background-color: rgb(143, 224, 163);
  margin-bottom: 10px;
  border-style: solid;
  border-top: 20px;
  border-color: aqua;
}

.pannel {
  text-align: center;
  background-color: rgb(102, 146, 228);
  padding: 2px 2px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: rgb(226, 77, 77);
}
.navbar {
  display: inline-block;
  position: relative;
}
.dropbtn {
  background-color: rgb(93, 192, 117);
  border: none;
  color: white;
  margin: auto;
  padding: 15px 32px;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.navbar:hover .dropdown-content {
  display: block;
}
